body {
	background-color: #61A4BA;
}
header {
	border-bottom: 1px solid blue;
}

header h1 {
	color: white;
  	text-align: center;
	 font-size: 30px;
	 text-transform: uppercase;
}

.box {
	color: white;
  	margin: 40px auto;
  	height: 40vh;
  	width: 80vw;
  	text-align: center;
}

.trigger {
	border: 1px solid blue;
	padding: 6px 0;
  	text-align: center;
  	width: 100%;
  	color: white;
  	background-color: #61A4BA;
  	margin-bottom: 5px;
}

a {
  display: block;
  border: 1px solid blue;
  text-align: center;
  text-decoration: none;
  color: white;
  padding: 6px 0;
}