* { 
	margin: 0 ;
	padding: 0;
}

body {
	width: 80vw;
	max-width: 1200px;
	padding: 40px;
	background-color: lightblue;
	margin: 0 auto;
}

header h1 {
	margin: 50px 0;
	font-size: 40px;
	color: blue;
	text-align: center;
	font-weight: bold;	
}

.box {
	height: 30%;
	width: 100%;
}

.box h2, h3 {
	text-align: center;
	color: blue;
	margin: 20px;
}

button {
	text-align: center;
	width: 100%;
	margin: 20px 0;
	padding: 10px 0;
	color: blue;
	border: 1px solid blue;
	background-color: lightblue;
}

.tweet {
	display: block;
	text-align: center;
	text-decoration: none;
	border: 1px solid blue;
	padding: 10px 0;
}
